body {
  margin: 0;
  padding: 0;
  color: white;
  background-color: black;

}

.background1 {
  background-image: url('https://images.unsplash.com/photo-1606857521015-7f9fcf423740?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
  background-color: rgba(0, 0, 0, 0.85);
  background-blend-mode: overlay;
  background-size: cover;
  padding: 0;
  margin: 0;
  overflow-y: hidden;
}

.container {
  max-width: 70%;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
}

nav {
  display: flex;
  align-items: center;
  background-color: #a4000f;
  color: #fff;
  font-size: 16px;
  height: 65px;
  width: 100%;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav .home-button {
  margin-left: 16px;
  margin-right: auto !important;
  padding: 8px;
  border: none;
  border-radius: 4px;
}

nav .home-button:hover {
  margin: 0 16px;
  text-decoration: underline;
  background-color: #94000f;
  padding: 8px;
  border: none;
  border-radius: 4px;
}

nav .active {
  margin: 0 16px;
  font-weight: 600;
  text-decoration: underline;
  padding: 8px;
  border: none;
  border-radius: 4px;
}

nav .nav-button {
  margin: 0 16px;
  padding: 8px;
  border: none;
  border-radius: 4px;
}

nav .nav-button:hover {
  margin: 0 16px;
  text-decoration: underline;
  background-color: #94000f;
  padding: 8px;
  border: none;
  border-radius: 4px;
}

.flex {
  display: flex;
  margin: auto;
}


h1 {
  font-weight: 700;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
  text-align: center;
  font-size: 3em;
  margin: 45px 0 32px 0;
  text-decoration: underline;
}

h2 {
  font-weight: 500;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
  text-align: center;
  font-size: 1.4em;
  margin-top: 0;
  margin-bottom: 45px;
}

p {
  font-weight: 500;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
  text-align: center;
  font-size: 1.25em;
  margin-bottom: 0;
  margin-top: 25px;
}

.edge-buttons {
  padding-left: 40px;
  padding-right: 40px;
}

.button-left {
  width: 49%;
  float: left;
}

.button-right {
  width: 49%;
  float: right;
}

.button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  height: 25vh;
  margin: 8px 0;
  outline: none;
  width: 100%;
  font-weight: 700;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
  text-align: center;
  font-size: 2em;
}

.red-button:hover {
  border: solid;
  border-radius: 4px;
  box-shadow: 0px 0px 8px 2px #DA3E52;
  text-decoration: underline;
}

.green-button:hover {
  border: solid;
  border-radius: 4px;
  box-shadow: 0px 0px 8px 2px #96E6B3;
  text-decoration: underline;
}

.blue-button:hover {
  border: solid;
  border-radius: 4px;
  box-shadow: 0px 0px 8px 2px #3186BC;
  text-decoration: underline;
}

.orange-button:hover {
  border: solid;
  border-radius: 4px;
  box-shadow: 0px 0px 8px 2px #5C2751;
  text-decoration: underline;
}

.red-button {
  background-color: #DA3E52;
}

.orange-button {
  background-color: #5C2751;
}

.blue-button {
  background-color: #3186BC;
}

.green-button {
  background-color: #96E6B3;
}

.outline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.card {
  border-radius: 10px;
  margin: 10px 3% 10px 3%;
  width: 30%;
  margin-top: 10px;
  background-color: black;
  text-decoration: none;
  color: white;
  border: 1px solid #DA3E52;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
}

.step {
  background-color: #DA3E52;
  border-radius: 10px 10px 0 0 ;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  padding: 20px 0 20px 0;
}

.step:hover {
  text-decoration: underline;
}

mark {
  background-color: #DA3E52;
  color: white;
}

.explanation {
  padding: 20px;
  font-size: 1.2em;
  text-align: center;
}

.top {
  display: flex;
  flex-direction: row;
  height: auto;
}

.left {
  background-color: #DA3E52;
  color: white;
  display: flex;
  width: 25%;
}

.left h1 {
  margin: auto;
  font-size: 2.7em;
}

.right {
  text-align: left;
  display: flex;
  background-color: black;
  color: white;
  width: 70%;
  padding: 1% 0 1% 5%;
}

.right h2 {
  margin: auto;
  text-align: left;
  padding-right: 30px;
}

li h2 {
  color: #DA3E52;
  font-weight: 500;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
  text-align: left;
  font-size: 1.2em;
  margin-top: 40px;
  margin-bottom: 0;
}

ol {
  margin-bottom: 5%
}

h3 {
  font-weight: 500;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
  font-size: 1em;
}

 .question {
  text-decoration: underline;
  margin-top: 4%;
}

#examples {
 text-decoration: underline;
 margin-top: 4%;
 margin-bottom: 20px;
}

.criteria-img {
  width: 100%;
  height: auto;
}

ul{
  margin: auto 10% 3% 10%;
}

#scroll-top-button {
  /* Other button styles */
  background-color: #DA3E52;
  border: 1px solid white;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  transition: opacity 1s ease-in-out;
  opacity: 0;
  margin: 30px;
}

#scroll-top-button:hover {
border: 3px solid white;
}

#scroll-top-button.invisible {
  visibility: hidden;
}

#scroll-top-button.visible {
  visibility: visible;
  opacity: 1;
}

.programmingelements-img{
  display: block;
  margin: auto;
  height: 60vh;
  width: auto;
}


.usability-row{
  margin-top: 5%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.usability-col{
  background-color: black;
  border-radius: 10px;
  border: 1px solid #DA3E52;
width: 48%;
  justify-content: space-between;
}

.card-top{
  width: 100%;
  border-radius: 10px 10px 0 0;
  padding: 20px 0 20px 0;
  background-color: #DA3E52;
  margin: 0;
  font-size: 1.2em;
  text-decoration: none;

}

.usability-list{
  padding: 20px;
  display: flex;
  color: white;
  justify-content: space-between;

}

.usability-list p{
  margin: 0;
  font-size: 0.9em;
  text-align: center;
}
